NODE_ENV=development
THROTTLER_TTL=60
THROTTLER_REQ_PER_TTL=120
SWAGGER_USE_METADATA_FILE=true
GOOGLE_ANALYTICS_TAG=your-google-analytics-tag

SEQ_SERVER_URL=http://localhost:3355
SEQ_API_KEY=
SEQ_SERVICE_NAME=ph-portals-api
